apipkg==1.5
appdirs==1.4.4
attrs==20.3.0
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
codecov==2.1.11
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.3.1
cryptography==3.3.1
distlib==0.3.1
distro==1.5.0
docutils==0.16
execnet==1.7.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.2
keyring==21.8.0
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.3
numpy==1.24
opencv-python==4.5.1.48
packaging==20.8
path==15.0.1
path.py==12.5.0
pkginfo==1.6.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pyparsing==2.4.7
pytest==6.2.1
pytest-cov==2.10.1
pytest-fixture-config==1.7.0
pytest-shutil==1.7.0
pytest-virtualenv==1.7.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-build==0.11.1
SecretStorage==3.3.0
six==1.15.0
termcolor==1.1.0
toml==0.10.2
tqdm==4.56.0
twine==3.3.0
urllib3==1.26.2
virtualenv==20.3.1
webencodings==0.5.1
Werkzeug==1.0.1
wheeltools==0.1.0b1
